/* ===== Colours ===== */
:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  --search-bar: #f2f2f2;
  --search-text: #010718;
  /* 
  --nav-color: #4070f4;
  --text-color: #fff; 
  */
}
